<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="icon" href="data:,">

  <link rel="stylesheet" href="/assets/css/dynamic/main.css">
  <link rel="stylesheet" href="/assets/css/main/style.css">
  <link rel="stylesheet" href="/assets/css/we/style.css">
  <% if (typeof cssFile !== 'undefined') { %>
  <link rel="stylesheet" href="<%= cssFile %>">
  <% } %>

</head>

<body dir="rtl">
  <span class="top-border-frame"></span>
  <span class="top-border-frame-radius"></span>
  <%- include("../nav/nav-right") %>
  <span class="bottom-border-frame-radius"></span>
  <span class="bottom-border-frame"></span>
  <%- include("../nav/nav-left") %>
  <main>
    <%- body %>
  </main>
  <footer>

  </footer>
</body>

<script src="/socket.io/socket.io.js" ></script>

<script type="module"  src="/scripts/we/socket.js" defer></script>
<script type="module" src="/scripts/we/index.js" defer></script>

<script src="/scripts/axios.min.js" defer></script>

</html>