<section>
  <h3>درحال گفتگو با 
    <a href="/@<%= targetUser.username %>"><%= targetUser.fullname %></a>
    <%  if(user.username == targetUser.username){ %>
      (خودت)
      <%} %>
  </h3>
  <div id="chat-box" data-chat-id="<%= chatId %>">
    <div id="message-list">
      <% messages.reverse().forEach(msg => { %>
        <div class="message">
          <div><strong><%= msg.sender.username %></strong>:</div>
          <div><%= msg.content %></div>
        </div>
      <% }) %>
    </div>

    <form id="message-form">
      <input id="message-input" type="text" name="content" />
      <button type="submit">ارسال</button>
    </form>
    
  </div>

</section>
<style> 
  section{
    margin: auto;
    text-align: center;
  }
</style>