<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="current-user" content='<%- JSON.stringify(currentUser || null) %>'>
  <title><%= title %></title>
  <link rel="icon" href="data:,">

  <link rel="stylesheet" href="/assets/css/dynamic/main.css">
  <link rel="stylesheet" href="/assets/css/main/style.css">
  <% if (cssFiles && cssFiles.length) { %>
    <% cssFiles.forEach(function(file) { %>
      <link 
        rel="<%= file.rel || 'stylesheet' %>" 
        href="<%= file.href %>" 
        <% if (file.media) { %> media="<%= file.media %>" <% } %>
        <% if (file.type) { %> type="<%= file.type %>" <% } %>
        <% if (file.crossorigin) { %> crossorigin="<%= file.crossorigin %>" <% } %>
      />
    <% }) %>
  <% } %>
 
</head>

<body>
  <span class="top-border-frame"></span>
  <span class="top-border-frame-radius"></span>
  <%- include("./nav-right") %>
  <span class="bottom-border-frame-radius"></span>
  <span class="bottom-border-frame"></span>
  <%- include("./nav-left") %>

  <main>
    <%- body %>
    <footer></footer>
  </main>

  <div id="confirm-modal" class="confirm-modal-overlay hidden">
    <div class="modal-box">
      <p id="confirm-message">آیا مطمئنی؟</p>
      <div class="modal-actions">
        <button id="confirm-yes" class="btn btn-danger">بله</button>
        <button id="confirm-no" class="btn btn-secondary">خیر</button>
      </div>
    </div>
  </div>
  
</body>
 
<script src="/scripts/lib/axios.min.js"></script>
<script src="/scripts/main/main.js" type="module" defer></script>

<% if (jsFiles && jsFiles.length) { %>
  <% jsFiles.forEach(function(file) { %>
    <script 
      src="<%= file.src %>"
          <%= file.type ? `type=${file.type}` : "" %>
          <%= file.defer ? "defer" : "" %>
          <%= file.async ? "async" : "" %>
          <%= file.nomodule ? "nomodule" : "" %>
          <%= file.crossorigin ? `crossorigin="${file.crossorigin}"` : "" %>
      > </script>

  <% }) %>
<% } %>

</html>