<nav class="left-nav">
  <div class="nav-top">
    <% if (currentUser) { %>
      <a href="/me">
        <img id="profile-picture" 
             src="<%= currentUser.avatar%>" 
             alt="ناحیه کاربری" 
             class="profile-picture <%= currentSection === 'me' ? 'active' : 'inactive' %>" />
      </a>
    <% } else { %>
      <a href="/me" class="profile-picture">
        <img src="/assets/pictures/default-avatar.png" class="profile-picture">
      </a>
    <% } %>
  </div>
  
  <div class="nav-line"></div>
  
  <%
  const navItems = {
    me: [
      { text: "فروم", tab: "forum" },
      { text: "بلاگ", tab: "blog" },
      { text: "تجارت", tab: "posts" },
      { text: "نظرات", tab: "comments" },
      { text: "ذخیره‌ها", tab: "saved" },
      { text: "کاربران", tab: "users" },
      { text: "هویت", tab: "account" },
      ...(typeof currentUser !== 'undefined' ? [{ href: "/auth/logout", text: "🚪" }] : [])
    ],
    forum: [
      { 
        href: "", 
        text: "➕", 
        onclick: typeof currentUser !== 'null' ? "showPostModal()" : "event.preventDefault()" 
      }
    ],
    blog: [
      { href: "/blog/create", text: "➕" },
    ],
    we: [
      { href: "/we", text: "گفت‌وگوها" },
    ]
  };
  // const items = navItems[currentSection] || [{ href: "/", text: "🏠︎" }];
const items = () => {
  if (currentSection.startsWith("@")) {
    return [
      { text: "فروم", tab: "forum" },
      { text: "بلاگ", tab: "blog" },
    ];
  } else {
    return navItems[currentSection] || [{ href: "/", text: "🏠︎" }];
  }
};

const processedItems = items();

  %>
  
  <div class="nav-scrollable">
    <% processedItems.forEach(item => { %>
      <div class="nav-scrollable-item" data-tab="<%= item.tab %>">
        <% if (item.tab) { %>
          <button class="nav-button-link"><%= item.text %></button>
        <% } else if (item.onclick) { %>
          <button onclick="<%= item.onclick %>" class="nav-button-link"><%= item.text %></button>
        <% } else { %>
          <a href="<%= item.href %>" class="nav-link"><%= item.text %></a>
        <% } %>
      </div>
    <% }); %>
  </div>
  
  <div class="nav-line"></div>
  
  <div class="nav-bottom">
    <button id="themeToggle" class="switch-theme">
      <img id="themeIcon" src="/assets/pictures/icons/theme-moon.svg" alt="Toggle theme" class="svg-icon toggle-theme" />
    </button>
  </div>
  
</nav>