<nav class="left-nav">
  <div class="nav-top">
    <% if (user) { %>
    <a href="/me" class="profile-link <%= currentSection === 'me' ? 'active' : 'inactive' %>">
      <img id="profile-picture" src="/assets/pictures/profile.jfif" alt="ناحیه کاربری" class="profile-picture" />
    </a>
    <% } else { %>
    <a href="/me">
      <img src="/assets/pictures/icons/person_2.svg" class="svg-icon">
    </a>
    <% } %>
    
  </div>
  <%
  const navItems = {
    me: [
      { href: typeof user !== 'null' ? `/@${user?.username}` : "/me", text: typeof user !== 'null' ? "👤 " : "ورود" },
      { href: typeof user !== 'null' ? `/@${user?.username}/posts` : "/me", text: typeof user !== 'null' ? "پست‌ها" : "ورود" },
      { href: "/me/users", text: "👩🏼‍🤝‍🧑🏼" },
      { href: "/me/profile", text: "🔧" },
      { href: "/me/profile", text: "🔧" },
      { href: "/me/profile", text: "🔧" },
      { href: "/me/profile", text: "🔧" },
      { href: "/me/profile", text: "🔧" },
      { href: "/me/profile", text: "🔧" },
      { href: "/me/content", text: "📄" },
      { href: "/me/content/create", text: "📄⚙️" },
      ...(typeof user !== 'undefined' ? [{ href: "/auth/logout", text: "🚪" }] : [])
    ],
    forum: [
      { 
        href: "", 
        text: "➕", 
        onclick: typeof user !== 'null' ? "showPostModal()" : "event.preventDefault()" 
      }
    ],
    blog: [
      { href: "/me/blog/new", text: "➕" },
    ],
    we: [
      { href: "/we", text: "گفت‌وگوها" },
    ]
  };
  const items = navItems[currentSection] || [{ href: "/", text: "🏠︎" }];
  %>
  <div class="nav-scrollable">
    <% items.forEach(item => { %>
      <% if (item.onclick) { %>
        <button onclick="<%= item.onclick %>" class="nav-button-link"><%= item.text %></button>
      <% } else { %>
        <a href="<%= item.href %>"><%= item.text %></a>
      <% } %>
    <% }); %>
    
  </div>
  <div class="nav-bottom">
    <button id="themeToggle">
      <img id="themeIcon" src="/assets/pictures/icons/theme-moon.svg" alt="Toggle theme" class="svg-icon toggle-theme" />
    </button>
  </div>
</nav>
