<h3>📝 پست‌های فروم</h3>
<section class="post-feed">
  <% posts.forEach(post => { %>
  <article class="post-card">
    <header>
      <a href="/@<%= post.author.username %>" class="author">
        <%= post.author.fullname %> <br><span>@<%= post.author.username %></span>
      </a>
      <br>
      <time><%= post.createdAt.toLocaleString() %></time>
    </header>
    <hr>
    <% if (post.quote) { %>
    <blockquote class="quote">
      <%= post.quote.content %>
      <footer>— <%= post.quote.author.fullname %></footer>
    </blockquote>
    <% } %>
    <a href="/forum/<%= post.id %>/<%= post.slug %>">
      <p class="title"><%= post.title %></p>
      <p class="content"><%= post.content %></p>
    </a>
    <hr>

    <div class="actions">
      <span>💬 <%= post.replyCount %></span>
      <span>🔁 <%= post.repostCount %></span>
      <button 
  class="like-btn" 
  data-post-id="<%= post.id %>">
  ❤️ <span class="like-count"><%= post.likeCount %></span>
</button>

    </div>
  </article>
  <% }) %>
</section>