<div class="forum-header"></div>
<div id="forum-layout">
  <%- include("./partials/aside") %>
  

  <section id="posts-container">
    <% if (post.parent) { %>
    <article class="post-card parent-post">
      <%- include("./partials/card", { post: post.parent }) %>
    </article>
    <% } %>

    <article class="post-card current-post">
      <%- include("./partials/card", { post }) %>
    </article>

    <section class="replies" id="replies-list">
      <% if (post.replies.length > 0) { %>
      <h4 class="replies-title">پاسخ‌ها</h4>
      <% post.replies.forEach(reply => { %>
      <div class="reply-card">
        <%- include("./partials/reply", { reply }) %>
      </div>
      <% }) %> <% } else { %>
      <p class="no-replies">هنوز پاسخی ثبت نشده است.</p>
      <% } %>
    </section>
  </section>
</div>
<%- include("create-post-modal") %>
