<div class="product" style="border: 1px solid grey;">
  <a class="post-overlay-link" href="/market/product/<%= product?.id %>/<%= product?.slug %> %>" ><%= product.title %></a>
  
    <p> قیمت : <%= product.price %></p>
    <p>توضیحات : <%= product.description %></p>
</div>