<nav class="right-nav">
  %>
  <% if(currentSection === 'we' ){ %>
    <a href="/we" class="<%= subSection === null ? 'active' : 'inactive' %>" >خانه</a>
    <a href="#" class="<%= currentSection === 'blog' ? 'active' : 'inactive' %>">گروه</a>
    <a href="#" class="<%= currentSection === 'forum' ? 'active' : 'inactive' %>">اعلانات</a>
    <a href="#" class="<%= currentSection === 'store' ? 'active' : 'inactive' %>">صدا</a>
  <% } else { %>
    <a href="/" class="<%= currentSection === null ? 'active' : 'inactive' %>" >خانه</a>
    <a href=" /blog" class="<%= currentSection === 'blog' ? 'active' : 'inactive' %>">بلاگ</a>
    <a href=" /forum" class="<%= currentSection === 'forum' ? 'active' : 'inactive' %>">فروم</a>
    <a href="/store" class="<%= currentSection === 'store' ? 'active' : 'inactive' %>">تجارت</a>
  <% } %>

  <% if(typeof user !=='undefined' ){ %>

  <a href="/@<%= user?.username %>" title="<%= user.username %>" class="<%= currentSection === 'me' ? 'active' : 'inactive' %>">👤</a>

  <% } else { %>
  <a href="/me"> ورود</a>
  <% } %>

</nav>