<head>
<link rel="stylesheet" href="layouts.css">
</head>
<div class="blog-container">
    <h2 class="blog-title">آخرین مقالات</h2>
    <div class="blog-grid">
        <% posts.forEach(post => { %>
        <!-- پست تکی -->
        <div class="blog-post">
            <img src="<%= post.thumbnail || '/blog/pictures/111.png' %>" alt="تصویر مقاله">
            <div class="blog-content">
                <h3 class="blog-post-title"><%= post.title %></h3>
                <p class="blog-post-description"><%= post.description %></p>
                <div class="blog-post-footer">
                    <a href="/blog/<%= post.titlePath %>" class="read-more">ادامه مطلب</a>
                    <span class="date">
                        <%= post.publishDate ? new Date(post.publishDate).toLocaleDateString('fa-IR') : 'منتشر نشده' %>
                    </span>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
  
    
  </div>