
  <div class="post-container">
      <header class="post-header">
          <h1><%= post.title %></h1>
          <p class="post-meta">
              <span>نویسنده: <%= post.author || "نویسنده"%>"%></span> | 
              <span>دسته‌بندی: <%= post.category || "دسته بندی"%></span> | 
              <span>تاریخ انتشار: <%= new Date(post.publishDate).toLocaleDateString('fa-IR') || "تاریخ انتشار"%></span>
          </p>
      </header>
  
      <div class="post-thumbnail">
          <img src="<%= post.thumbnail || "/blog/pictures/111.png"%>"%>" alt="<%= post.title %>">
      </div>
  
      <div class="post-content">
          <p class="description"><%= post.description %></p>
          <article>
              <%= post.content %>
          </article>
      </div>
  
      <footer class="post-footer">
          <div class="tags">
              <h3>برچسب‌ها:</h3>
              <ul>
                <li>تگ</li>
              </ul>
          </div>
          <p>تعداد بازدید: <%= post.views || "1/"%></p>
      </footer>
  </div>