<article class="post-card">
  <div class="post-base">
    <a class="post-overlay-link" href="/forum/<%= post.id %>/<%= post.slug %>" tabindex="-1"></a>

    <%- include("./post-header", { post }) %>

    <% if (post.quote) { %>
    <blockquote class="quote-box">
      <div class="quote-content"><%= post.quote.content %></div>
      <span class="quote-author">— <%= post.quote.author.fullname %></span>
    </blockquote>
    <% } %>

    <% if (post.title) { %>
    <h3 class="post-title"><%= post.title %></h3>
    <% } %>
    <p class="post-content"><%= post.content.length > 280 ? post.content.substring(0, 280) + '...' : post.content %></p>

    <%- include("./actions", { post }) %>
  </div>

  <% if (post.bestReplies?.length) { %>
  <section class="best-replies">
    <% post.bestReplies.forEach(reply => { %>
    <%- include("./reply", { reply }) %>
    <% }) %>
  </section>
  <% } %>
</article>

<div class="middle-line-post">
  <div class="start"></div>
  <div class="corner-radius-left"></div>
  <div class="corner-wrap">
    <div class="curve-corner"></div>
    <div class="v-line"></div>
    <img src="/assets/pictures/icons/plant-2.svg" class="svg-icon vertical-end">
  </div>
  <div class="corner-radius-right"></div>
</div>

