<header class="post-header">
<div class="post-header-right">
    <a href="/@<%= post.author.username %>" class="author-link" onclick="event.stopPropagation()">
      <img src="<%= post.author.avatar || '/assets/pictures/header.jpg' %>" alt="avatar" class="avatar">
        <div class="post-meta">
          <strong class="author-name"><%= post.author.fullname %></strong>
          <div class="bottom-header-meta">
            <span class="username">@<%= post.author.username %></span>
            <img src="/assets/pictures/icons/point.svg" class="svg-icon time-split">
            <time class="post-date" data-date="<%= post.createdAt %>"></time>
          </div>
        </div>
    </a>
    </div>
<div class="post-header-right">
    <button class="follow-user" aria-label="Follow user" data-user-id="<%= post.author.id %>">
      <span>دنبال‌کردن</span>
    </button>
    <button class="more-options-button" aria-label="More options" data-post-id="<%= post.id %>">
      <img src="/assets/pictures/icons/more.svg" class="svg-icon more">
    </button>
    <div class="more-options-menu hidden" data-owner="<%= post.isOwner %>">
        <% if (post.isOwner) { %>
          <button class="menu-item option-edit" data-post-id="<%= post.id %>">
            <img src="/assets/pictures/icons/point.svg" class="svg-icon" >
            <span>ویرایش</span>
          </button>
          <button class="menu-item option-delete" data-post-id="<%= post.id %>">
            <img src="/assets/pictures/icons/point.svg" class="svg-icon" >
            <span>حذف</span>
          </button>
        <% } %>
        <button class="menu-item option-copy-link" data-post-id="<%= post.id %>">
            <img src="/assets/pictures/icons/point.svg" class="svg-icon" >
          <span>کپی لینک</span>
        </button>
        <button class="menu-item option" data-post-id="<%= post.id %>">
          <img src="/assets/pictures/icons/point.svg" class="svg-icon" >
        <span>مسدودیت</span>
      </button>
      <button class="menu-item option" data-post-id="<%= post.id %>">
        <img src="/assets/pictures/icons/point.svg" class="svg-icon" >
      <span>بی‌صدا</span>
    </button>
    <button class="menu-item option" data-post-id="<%= post.id %>">
      <img src="/assets/pictures/icons/point.svg" class="svg-icon" >
    <span>گزارش</span>
    </button>
    </div>
  </div>
  </header>